<form class="domform" action="https://formspree.io/aldoturegano10@gmail.com" method="post">

  <fieldset>

    <legend>Danos tu diseño, nosotros hacemos lo demás:</legend>

    <input type="text" class="" name="Nombre-Cliente" placeholder="Nombre">

    <input type="text" class="" name="_subject" placeholder="Asunto">

    <input type="email" name="_replyto " placeholder="Email">

    <input type="text" name="Nombre-Cliente" placeholder="Teléfono (Opcional)">

    <textarea type="text" name="Mensaje" placeholder="Mensaje"></textarea>

    <button type="submit" value="Send">
      <input type="hidden" name="_next" value="{{}}" />
      <p>
        Enviar
      </p>
    </button>

  </fieldset>

</form>
